ClassifierModel/classifierModelAPI/models/*.safetensors
ClassifierModel/classifierModelAPI/models/*.bin
ClassifierModel/classifierModelAPI/models/*.pt
ClassifierModel/classifierModelAPI/models/pytorch_model.bin
*.pyc
